<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.dynamic">
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
   <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
   <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="design_width"
            android:value="720"></meta-data>
        <meta-data
            android:name="design_height"
            android:value="1280"></meta-data>
        <activity android:name=".ui.activity.RoleActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".SecondActivity"/>
        <activity android:name=".ui.activity.MyPacketActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MyAddressActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MyBoxActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.BindNewBoxActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ServiceActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MyInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MyDistrictActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.JoinRequestActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.NewAddressActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.NewBindActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>